/*.position-topleft,
.position-topright,
.position-topcenter {
    top: 500px;
}

.position-bottomleft,
.position-bottomright,
.position-bottomcenter {
    bottom: 0;
}*/


.mainposition{
    top: 4rem;
    right: 2rem;
}

.blazored-toast-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
}

@media (min-width: 576px) {

    /*.position-topleft {
        top: 500px;
        left: 2rem;
    }

    .position-topright {
        top: 2rem;
        right: 2rem;
    }

    .position-topcenter {
        top: 2rem;
        left: 50%;
        margin-left: -15rem;
    }

    .position-bottomleft {
        bottom: 2rem;
        left: 2rem;
    }

    .position-bottomright {
        bottom: 2rem;
        right: 2rem;
    }

    .position-bottomcenter {
        bottom: 2rem;
        left: 50%;
        margin-left: -15rem;
    }*/

    .blazored-toast {
        width: 30rem;
        border-radius: .25rem;
    }
}