@inherits JavascriptComponentBase
@*@if (TopContent == null && BottomContent == null && MainContent != null && SupportAutoScroll)
{
    <div @ref="MainElement" style="height: @GetMainHeight;  ">
        @MainContent
    </div>
    return;
}*@

<div @ref="MainElement" style="opacity: @GetDisplay; height: @GetMainHeight; width: @GetMainWidth; margin-top: @GetFirstTop; margin-left: @GetFirstLeft; background-color: @FullBackgroundColor">
    @if (TopContent != null)
    {
        <div @ref="_firstElement">
            @TopContent
        </div>
    }
    <div style="margin-top: @GetFirstBottomTop; height: @GetLeftOverHeight; background-color: @MainBackgroundColor">
        @if (BuiltInScrollMain && SupportAutoScroll == false)
        {
            <div style="width: 100%; height: 100%; overflow: auto;">
                @MainContent
            </div>
        }
        else
        {
            @MainContent
        }
    </div>
    @if (BottomContent != null)
    {
        <div style="margin-top: @GetLastBottomTop" @ref="_lastElement">
            @BottomContent
        </div>
    }
</div>