<div class="@GetFirstClass()">
    <div class="topmodal">
        <div @onclick="ClickOutside" class="entirearea">

        </div>
        <div @onclick:stopPropagation="true" style="@GetMainStyle()" class="blackmenu">
            @foreach (var item in MenuList)
            {
                <div class="clickable" @onclick="() => ClickMenu(item)">
                    @item.Text
                </div>
            }
        </div>
    </div>
</div>