.main {
    width: 100%;
}

.firstflex {
    display: flex;
    justify-content: space-between;
}

.centerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hidden {
    display: none;
}
.inline {
    display: inline-block;
}