<SimpleCenteredModal>
    <div class="titlediv">
        @Title
    </div>
    <div  class="messagediv">
        @Message
    </div>
    <div class="buttondiv">
        <button class="btn btn-danger" @onclick="DoConfirm">
            Yes
        </button>
        <button class="btn btn-primary" @onclick="Cancel">
            No
        </button>
    </div>
</SimpleCenteredModal>