<div class="topmodal">
    <div class="secondmodal">
        <div class="thirdmodal">
            <div class="fourthmodal">
                @if (CloseDialog.HasDelegate)
                {
                    <span class="closemodal">X</span>
                }
                @if (TargetWidth != "")
                {
                    <div style="width: @TargetWidth">
                        @ChildContent
                    </div>
                }
                else
                {
                    @ChildContent
                }
            </div>
        </div>
    </div>
</div>