<CascadingValue IsFixed="true" Value="this">
    <div style="height: @ContainerHeight; width: @ContainerWidth; background-color: @BackgroundColor" class="relative">
        @if (ChildContent != null)
        {
            @ChildContent
        }
    </div>
</CascadingValue>